<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>func</key>
		<string>内建集合类型</string>
		<key>class</key>
		<string>AggregateViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>协议</string>
		<key>class</key>
		<string>ProtocolViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>修改传参的值</string>
		<key>class</key>
		<string>FuncInoutViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>Lazy</string>
		<key>class</key>
		<string>LazyViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>值类型嵌套</string>
		<key>class</key>
		<string>IndirectViewController</string>
	</dict>
</array>
</plist>
